:root {
    --primary-color: #3b82f6;
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Modo Festa (Sem Capa) */
@keyframes partyMode {
    0% { background-color: rgba(255, 0, 0, 0.4); }
    25% { background-color: rgba(0, 255, 0, 0.4); }
    50% { background-color: rgba(0, 0, 255, 0.4); }
    75% { background-color: rgba(255, 255, 0, 0.4); }
    100% { background-color: rgba(255, 0, 255, 0.4); }
}

#party-lights {
    width: 100%; height: 100%;
    animation: partyMode 0.5s infinite alternate;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

.animate-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

input[type="range"] { accent-color: var(--primary-color); }

/* Custom Scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 10px; }